body {
    font-family: Roboto, sans-serif;
    font-size: 1em;
}

header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.secao-menu {
	width: 940px;
    margin: 10px auto;
    padding: 5px;
}

.header-pagina {
    width: 940px;
    margin: 0 auto;
    display: flex;
}

.titulo-pagina {
    margin-top: 50px;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline
}

.secao-comum {
	width: 940px;
    margin: 0 auto;
    padding: 5px;
}

.secao-listagem, .secao-menu {
	width: 940px;
    margin: 10px auto;
    padding: 5px;
}

.fieldset-pesquisa {
	margin-bottom: 10px;
}

.fieldset-cadastro {
	margin-bottom: 10px;
}

.table-listagem {
	vertical-align: middle;
}

.table-listagem .coluna-texto-centralizado {
	text-align: center;
}

.table-listagem .coluna-texto-a-direita {
	text-align: right;
}

.table-listagem .coluna-texto-a-esquerda {
	text-align: left;
}

.table-listagem .coluna-acao {
	width: 32px;
	text-align: center;
}